@import "../../vars";

:global(.ant-card-body) {
  padding: 6px 0;

  :global(.ant-typography) {
    margin-bottom: 0;
  }
}

.divider {
  margin: 12px 0;
}

.blogDesc {
  color: $gray_font_color;
}

.hotsModule {
  margin-bottom: 24px;

  :global(.ant-list-item-action) {
    margin-top: 4px;
  }

  .action {
    margin-bottom: 0;
  }

  li {
    padding: 4px 0 !important;

    a {
      color: unset;

    }

    a:hover {
      color: $theme_color;
    }
  }
}

.tag {
  margin-top: 0 !important;
  border-bottom: 2px solid $theme_color;
  line-height: 36px !important;
}