@import './vars.scss';

@mixin scroll-reset {
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    // scrollbar-arrow-color: $block-color;
    scrollbar-arrow-color: red;
  }

  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 4px;
    background: $primary-color;
    // background: $primary-color;
    scrollbar-arrow-color: $primary-color;
    // scrollbar-arrow-color: $primary-color;
  }

  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 0;
    background: #FDCE4E00;
  }
}