<section class="w-full my-2">
  <%- @sub_comment ||= false %>
  <%= form_for [blog, comment], remote: true, html: { class: @sub_comment ? 'w-full' : 'w-full' } do |f|  %>
    <%- if @sub_comment %>
      <input type="hidden" name="comment[comment_id]" value=<%= @comment_id %> />
    <%- end %>
    <div>
      <%= f.text_area 'content', class: 'w-full border border-gray-300 resize-none p-2 rounded focus:border-red-400 focus:border-2 focus:outline-none transition duration-300', rows: '3', placeholder: '发条友善的评论吧'%>
      <div class="flex flex-row justify-between items-center my-1 mr-1">
        <%= f.submit '发 表', class: 'p-2 block h-8 leading-none text-xs bg-red-400 text-white rounded cursor-pointer'%>
        <small class="text-gray-300">Ctrl + Enter 快速发表</small>
      </div>
    </div>
  <%- end %>
</section>