<% if resource.errors.any? %>
  <div id="error_alert" class="alert alert-danger alert-dismissible fade show fixed-top" role="alert">
    <strong>注册失败:</strong>
    <ul class="error_messages">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <% if flash[:captcha] %>
        <li><%= flash[:captcha] %></li>
      <% end %>
    </ul>
    <button type="button" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>