@import "../../vars";

.blog_list {
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 100vh;
}

.carousel_item {
  color: #fff;
  text-align: center;
  background: #364d79;
  margin-bottom: 24px;
  border-radius: 8px;

  img {
    border-radius: 8px;
    width: 100%;
  }
}

.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;
}

.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.tag {
  margin-top: 0 !important;
  border-bottom: 2px solid $theme_color;
  line-height: 36px !important;
}

.hotsAuthor {
  margin-bottom: 24px;

  :global(.ant-list-item-action) {
    margin-top: 4px;
  }

  .action {
    margin-bottom: 0;
  }

  li {
    padding: 4px 0 !important;

    a {
      color: unset;

    }

    a:hover {
      color: $theme_color;
    }
  }
}
