@import "../../vars";

.blog_list {
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 100vh;
}

.carousel_item {
  color: #fff;
  text-align: center;
  background: #364d79;
  margin-bottom: 24px;
  border-radius: 8px;

  img {
    border-radius: 8px;
    width: 100%;
  }
}

.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;
}

.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.hotsAuthor {
  align-items: center;
}

.nickName {
  font-weight: unset;
  font-size: 16px;
  margin-bottom: 0;
}