@import "vars";
@import "mixins";

nav {
  #logo {
    color: $theme_color;
    font-size: 24px;

    .nav-link {
      font-size: 24px;
    }
  }

  #header_home_nav {
    svg {
      height: 21px;
      width: 21px;
      vertical-align: sub;
    }
  }

  #search {
    margin: 0 24px;
    border: none;
    outline: none;
    width: 300px;

    &:focus {
      box-shadow: none;
    }
  }

  #new_article_btn {
    background-color: $theme_color;
    color: #fff;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    margin-left: 16px;
  }

  #user_avatar {
    .avatar {
      height: 42px;
      width: 42px;
      border-radius: 21px;
      margin-right: 12px;
    }

    a {
      color: $font_color;

      &:hover {
        text-decoration: none;
      }
    }
  }


}