@import "../../../stylesheets/mixins";

:global(.editor_container) {
  height: 100vh;
}

:global(.ant-spin-container) {
  height: 100vh !important;
  @include flex-col();

  & > div {
    height: unset;
    flex: 1;
  }
}

:global(.editor_container) {
  :global(.ant-spin) {
    max-height: unset !important;
  }
}

.input_title {
  font-size: 24px !important;
  padding: 12px !important;
  font-weight: bold;
}

.loading {
  position: relative;
}

.website_place_holder {
  @include flex-col;
  height: 100%;
  justify-content: center;
  align-items: center;

  h2 {
    color: #ccc !important;
  }
}