@import "../stylesheets/mixins";
@import "../stylesheets/bootstrap_custom";
@import "~bootstrap/scss/bootstrap";
@import "../stylesheets/reset";
@import "../stylesheets/common";

@import "../stylesheets/header";
@import "../stylesheets/footer";
@import "../stylesheets/ugc";

@import "../stylesheets/home";
@import "../stylesheets/blogs";
@import "../stylesheets/users";
@import "../stylesheets/devise";

@import "~highlight.js/styles/atom-one-dark";
//@import "~highlight.js/styles/github-gists";

body {
  @include flex-col;
  height: 100vh;
  font-family: 'normal';
  overflow-x: hidden;
  overflow-y: scroll;

  .body {
    margin-top: 96px;
    margin-bottom: 22px;
    flex: 1;
  }

  footer {
    @include flex-col;
    align-items: center;
    background-color: #e7e7e7;
    padding: 24px;
  }
}

.pagination {
  display: none;
}

.to_top_btn {
  position: fixed;
  bottom: 50px;
  right: 5%;
  display: none;
  z-index: 100;
  border: 1px solid $theme_color;
  background-color: #fff;

  svg > path {
    fill: $theme_color;
  }

  &:hover {
    border: 1px solid #fff;
    background-color: $theme_color !important;

    svg > path {
      fill: #fff;
    }
  }
}

@font-face {
  font-family: 'normal';
  src: url("https://assets-blog-xiongyuchi.oss-cn-beijing.aliyuncs.com/assets/fonts/normal.ttf");
}