@import "../page_css/mixins";
@import "../page_css/bootstrap_custom";
@import "~bootstrap/scss/bootstrap";
@import "../page_css/reset";

@import "../page_css/header";
@import "../page_css/home";
@import "../page_css/users";

body {
  @include flex-col;
  height: 100vh;

  header {

  }

  .body {
    margin-top: 72px;
    margin-bottom: 22px;
    flex: 1;
  }

  footer {
    @include flex-col;
    align-items: center;
    background-color: #e7e7e7;
    padding: 24px;
  }
}