@import "../stylesheets/mixins";
@import "../stylesheets/bootstrap_custom";
@import "~bootstrap/scss/bootstrap";
@import "../stylesheets/reset";
@import "../stylesheets/common";

@import "../stylesheets/header";
@import "../stylesheets/footer";
@import "../stylesheets/ugc";

@import "../stylesheets/home";
@import "../stylesheets/blogs";
@import "../stylesheets/users";
@import "../stylesheets/devise";

@import "~highlight.js/styles/atom-one-dark";
//@import "~highlight.js/styles/github-gists";

body {
  font-family: UbuntuMono, "Varela Round", "PingFang SC", "Microsoft YaHei", Helvetica, Arial, Menlo, Monaco, monospace, sans-serif;
  font-weight: 500;
  @include flex-col;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  .app {
    height: 100%;
    width: 100%;
  }

  .body {
    margin-top: 96px;
    margin-bottom: 22px;
    flex: 1;
  }

  footer {
    @include flex-col;
    align-items: center;
    background-color: #e7e7e7;
    padding: 24px;
  }
}

.show_to_top {
  bottom: 32px !important;
}

.to_top_btn {
  position: fixed;
  right: 5%;
  z-index: 100;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  transition: all 450ms;
  bottom: -100px;
  outline: none;

  svg {
    height: 50px;
    width: 50px;
    vertical-align: middle;

    path {
      fill: $theme_color;
      vertical-align: middle;
      transition: fill 450ms;
    }

  }

  &:hover {

    svg > path {
      fill: #fff;
    }

  }

}

@font-face {
  font-family: UbuntuMono;
  src: url("../assets/fonts/UbuntuMono-Regular.ttf");
}

@font-face {
  font-family: "Varela Round";
  src: url("../assets/fonts/VarelaRound-Regular.ttf");
}