// * color
$normal_font_color: #212529;
$gray_font_color: #999;
$gray_bg_color: #eee;


// * 2020/12/30
$theme_color: #13c2c2;
$dim_theme_color: #08979c;

$gold_color: #FFB84F;
$silver_color: #B4B4B4;
$bronze_color: #B7D6EC;

// * size
$title_font_size: 24px;
$header_title_font_size: 20px;
$tag_font_size: 16px;