@font-face {
  font-family: UbuntuMono;
  src: url("../assets/fonts/UbuntuMono-Regular.ttf");
}

@font-face {
  font-family: "Varela Round";
  src: url("../assets/fonts/VarelaRound-Regular.ttf");
}

body {
  font-family: UbuntuMono, "Varela Round", "PingFang SC", "Microsoft YaHei", Helvetica, Arial, Menlo, Monaco, monospace, sans-serif !important;
  font-weight: 500;
  overflow-y: scroll;
}