@import './vars.scss';

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin scroll-reset {
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    // scrollbar-arrow-color: $block-color;
    scrollbar-arrow-color: red;
  }

  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    @include container;
    background: $theme_color;
    scrollbar-arrow-color: $theme_color;
  }

  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 0;
    background: #FDCE4E00;
  }
}

@mixin mask {
  &:after {
    height: 100vh;
    width: inherit;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    display: block;
    content: '';
    background-color: #000;
  }
}

@mixin container {
  border-radius: 8px;
}