// * color
$theme_color: #0084ff;
$dim_theme_color: #0084ff80;
$normal_font_color: #212529;
$gray_font_color: #aaa;
$gray_bg_color: #eee;

// * size
$title_font_size: 24px;
$header_title_font_size: 20px;
$tag_font_size: 16px;