@import "highlight";
@import "markdown";
@import "vars";
@import "mixins";

// * shared blog-post comment styles
.blog-post {
  .blog-post-title {
    color: $normal_font_color;

    &:hover {
      color: $theme_color;
    }
  }

  .author_info {
    //@include flex-row;
    //align-items: center;

    img.avatar {
      height: 24px;
      width: 24px;
      border-radius: 12px;
      margin-right: 6px;
    }
  }

  .blog-post-meta {
    font-size: 14px;
    color: #888888;
  }

  .blog-post-data {
    @include flex-row;

    .like, .comment, .star {
      cursor: pointer;
      display: inline-block;
      width: 48px;
      text-align: center;
      font-size: 18px;

      &:hover {
        color: $theme_color;

        svg {
          fill: $theme_color;
        }
      }
    }

    .author_info {
      line-height: 27px;
      font-size: 14px;

      a {
        color: #888888
      }

      a:hover {
        color: $theme_color;
      }
    }

    .comment {
      svg {
        vertical-align: middle;
      }
    }

    .publiced_at {
      margin-left: auto;
      font-size: 14px;
      line-height: 27px;
      color: #888888;
    }
  }
}

#blogs__index {
  background-color: $gray_bg_color;

  #load_more {
    text-align: center;
    @include flex-row;
    width: 100%;
    justify-content: center;
    display: none;
  }

  #load_more.none_more {
    display: inline-block;
    color: $gray_font_color;
  }

  .notice {
    position: sticky;
    top: 96px;
  }

  .blog-main {
    background-color: #fff;
    padding: 24px;
  }
}

#blog__show {
  .blog_title {
    margin-bottom: 12px;
  }

  .user {
    @include flex-row;
    align-items: center;

    .avatar {
      img {
        height: 48px;
        width: 48px;
      }
    }

    .info {
      margin-right: auto;

      .count {
        color: $gray_font_color;
      }
    }


  }

  article {
    width: 100%;
    padding: 12px 0;
    border-top: 1px solid #eee;
  }

  #toc_sider {
    padding: 0 24px;
    position: fixed;

    a {
      color: $normal_font_color;
    }

    a:hover {
      text-decoration: none;
      color: $theme_color;
    }
  }
}