@import "highlight";
@import "markdown";
@import "vars";
@import "mixins";

#blogs__index {
  background-color: $gray_bg_color;

  #load_more {
    text-align: center;
    @include flex-row;
    width: 100%;
    justify-content: center;
    display: none;
  }

  #load_more.none_more {
    display: inline-block;
    color: $gray_font_color;
  }

  .notice {
    position: sticky;
    top: 96px;
  }

  .blog-main {
    background-color: #fff;
    padding: 24px;
  }
}

#blog__show {
  .blog_title {
    margin-bottom: 12px;
  }

  .user {
    @include flex-row;
    align-items: center;

    .avatar {
      img {
        height: 48px;
        width: 48px;
      }
    }

    .info {
      margin-right: auto;

      .count {
        color: $gray_font_color;
      }
    }


  }

  article {
    width: 100%;
    padding: 12px 0;
    border-top: 1px solid #eee;
  }

  #toc_sider {
    padding: 0 24px;
    position: fixed;

    a {
      color: $normal_font_color;
    }

    a:hover {
      text-decoration: none;
      color: $theme_color;
    }
  }
}