@import "highlight";
@import "markdown";
@import "vars";
@import "mixins";

// * shared blog-post comment styles
.blog-post {
  .blog-post-title {
    color: $normal_font_color;

    &:hover {
      color: $theme_color;
    }
  }

  .author_info {
    //@include flex-row;
    //align-items: center;

    img.avatar {
      height: 24px;
      width: 24px;
      border-radius: 12px;
      margin-right: 6px;
    }
  }

  .blog-post-meta {
    font-size: 14px;
    color: #888888;
  }

  .blog-post-data {
    @include flex-row;

    .like, .comment, .star {
      cursor: pointer;
      display: inline-block;
      width: 48px;
      text-align: center;
      font-size: 18px;

      &:hover {
        color: $theme_color;

        svg {
          fill: $theme_color;
        }
      }
    }

    .author_info {
      line-height: 27px;
      font-size: 14px;

      a {
        color: #888888
      }

      a:hover {
        color: $theme_color;
      }
    }

    .comment {
      svg {
        vertical-align: middle;
      }
    }

    .publiced_at {
      margin-left: auto;
      font-size: 14px;
      line-height: 27px;
      color: #888888;
    }
  }
}

#blogs__index {
  background-color: $gray_bg_color;

  #load_more {
    text-align: center;
    @include flex-row;
    width: 100%;
    justify-content: center;
    display: none;
  }

  #load_more.none_more {
    display: inline-block;
    color: $gray_font_color;
  }

  .notice {
    position: sticky;
    top: 96px;
  }

  .blog-main {
    background-color: #fff;
    padding: 24px;
  }
}

#blogs__show {
  @include block;
  background-color: $gray_bg_color;

  .blog_detail {
    @include block;
    background-color: #fff;

    .blog_title {
      padding: 24px;
      border: 1px solid $gray_bg_color;

      .count {
        margin-bottom: 0;
      }
    }

    .user {
      @include flex-row;
      align-items: center;

      .avatar {
        img {
          height: 48px;
          width: 48px;
        }
      }

      .info {
        margin-right: auto;

        .count {
          color: $gray_font_color;
        }
      }

    }

    article {
      width: 100%;
      padding: 0 24px 24px 24px;
      margin-top: -24px;
      border-top: 1px solid #eee;

      .article_footer {
        border-top: 1px solid $gray_bg_color;

        .cc_by_sa_4_tips {
          padding: 12px;
          margin: 12px 0;
          border-left: 6px solid $theme_color;

          a:after {
            height: 6px;
            width: 103px;
            display: inline-block;
            content: "";
            background-color: #0084ff88;
            margin-left: -101px;
            transition: height 150ms;
            vertical-align: text-bottom;
          }

          a:hover {
            color: #000;

            &:after {
              height: 17px;
            }
          }
        }
      }

    }
  }

  #toc_sider {
    @include block;
    background-color: #fff;
    padding: 24px;
    position: sticky;
    top: 96px;

    a {
      color: $normal_font_color;
    }

    a:hover {
      text-decoration: none;
      color: $theme_color;
    }
  }
}