#alert {
  top: -200px;
  //transition: top 450ms;
  width: 50%;
  margin: auto;
  z-index: 1080;

  .error_messages {
    margin-bottom: 0;
  }

  .close {
    outline: none;
  }
}

#notice {
  z-index: 1080;
  top: -500px;
  width: 60%;
  margin: auto;

  .close {
    outline: none;
  }
}