@import "vars";
@import "mixins";

#sessions__new,
#registrations__new,
#registrations__create,
#passwords__new,
#passwords__create,
#passwords__edit,
#passwords__update {
  background-color: $gray_bg_color;

  nav.navbar {
    display: none;
  }

  .devise_return_home {
    font-size: 42px;
    position: fixed;
    left: 5%;
    top: 5%;
    color: $theme_color;

    p {
      font-size: 18px;
    }
  }

  @include flex-col;
  justify-content: center;
  align-items: center;

  .devise_left {
    background-color: #fff;
    height: 100%;
    @include flex-col;
    justify-content: center;
    padding: 24px;

    section {
      padding: 24px;

      .logo {
        a {
          font-weight: bold;
          color: $theme_color;
        }
      }

      .form_label {
        font-size: 14px;
        font-weight: bold;
      }

      .captcha {
        margin-left: 24px;
        height: 38px;
      }

      .devise_links {

      }

    }


  }

  .devise_right {
    background: url('../assets/images/test.jpg') no-repeat center center;
    background-size: 120%;
    transition: background-size 150ms;

    &:hover {
      background-size: 140%;
    }
  }

  .devise_links {
    @include flex-row;
    justify-content: space-between;
  }
}

#registrations__edit {
  background: $gray_bg_color;

  #user_update_sider,
  #user_update_content {
    @include block;
    background-color: #fff;
    padding: 24px;

  }

  #user_update_sider {
    height: inherit;
    //background-color: #fff;
  }
}