@import "vars";
@import "mixins";

#sessions__new,
#registrations__new,
#registrations__create,
#passwords__new,
#passwords__create,
#passwords__edit,
#passwords__update {
  background-color: $gray_bg_color;

  nav.navbar {
    display: none;
  }

  @include flex-col;
  justify-content: center;
  align-items: center;

  .devise_left {
    background-color: #fff;
    height: 100vh;
    @include flex-col;
    justify-content: center;
    padding: 24px;

    //.devise_return_home {
    //  font-size: 42px;
    //  position: fixed;
    //  left: 5%;
    //  top: 5%;
    //  color: $theme_color;
    //
    //  p {
    //    font-size: 18px;
    //  }
    //}

    section {
      padding: 24px;

      .logo {
        a {
          font-weight: bold;
          color: $theme_color;
        }
      }

      .form_label {
        font-size: 14px;
        font-weight: bold;
      }

      .captcha {
        margin-left: 24px;
        height: 38px;
      }

      .devise_links {

      }

    }


  }

  .devise_right {
    @include mask;

    position: relative;
    background: url('../assets/images/test.jpg') no-repeat center center;
    background-size: 120%;
    transition: background-size 150ms;
    color: #fff;

    .propaganda {
      position: absolute;
      padding: 24px;
      bottom: 20%;
      z-index: 1001;
    }

  }

  .devise_links {
    @include flex-row;
    justify-content: space-between;
  }
}

#registrations__edit {

  #user_update_sider,
  #user_update_content {
    @include container;
    background-color: #fff;

  }

  #user_update_sider {
    height: inherit;
    //background-color: #fff;
  }
}