@import "vars";
@import "mixins";

#website_nav,
#blogs_show_nav_container {
  background-color: #fff;

  #logo {
    color: $theme_color;
    font-size: 24px;

    .nav-link {
      color: $theme_color;
      font-size: 24px;
    }
  }

  #nav_item_group {
    @include flex-row;
    margin-right: 24px;

    & > .nav-item > a {
      font-size: $header_title_font_size;
    }
  }

  #nav_icon_group {
    line-height: 40px;
  }

  #header_home_nav {
    svg {
      height: 21px;
      width: 21px;
      vertical-align: sub;
    }
  }

  #search {
    margin: 0 24px;
    border: none;
    outline: none;
    width: 300px;

    &:focus {
      box-shadow: none;
    }
  }

  .user_info_btn {
    border: none;
    outline: none;
    background: none;
    height: 40px;
    @include flex-col;
    justify-content: center;
    align-items: center;

    &:after {
      display: none;
    }
  }

  .avatar {
    height: 42px;
    width: 42px;
    border-radius: 21px;
    //margin-right: 12px;
  }

  a {
    color: $normal_font_color;

    &:hover {
      text-decoration: none;
    }
  }

  .navbar-collapse {
    padding: 0 16px;
  }

  #mobile_user_nav {
    border-top: 1px solid $gray_bg_color;
  }
}

#blogs_show_nav_container {
  overflow: hidden;
  height: 78px;

  #website_nav,
  #blog_show_nav {
    position: unset;
    transition: transform 450ms;
  }

  #blog_show_nav {
    #logo {
      color: $normal_font_color;
    }

    border-bottom: 1px solid #eee;
  }
}

#blogs_show_nav_container.close_website_nav {
  #website_nav,
  #blog_show_nav {
    transform: translate(0, -75px);
  }
}