@import "vars";
@import "mixins";

#website_nav {
  background-color: #fff;
  transition: top 450ms;

  #logo {
    color: $theme_color;
    font-size: 24px;

    .nav-link {
      color: $theme_color;
      font-size: 24px;
    }
  }

  #nav_item_group {
    @include flex-row;

    a {
      margin: 0 6px;
      height: 62px;
      line-height: 62px;
      width: 60px;
      text-align: center;
    }

    a.active {
      border-bottom: 2px solid $theme_color;
    }
  }

  #nav_icon_group {
    line-height: 40px;
  }

  #header_home_nav {
    svg {
      height: 21px;
      width: 21px;
      vertical-align: sub;
    }
  }

  #search {
    margin: 0 24px;
    border: none;
    outline: none;
    width: 300px;

    &:focus {
      box-shadow: none;
    }
  }

  .user_info_btn {
    border: none;
    outline: none;
    background: none;
    height: 40px;
    @include flex-col;
    justify-content: center;
    align-items: center;

    &:after {
      display: none;
    }
  }

  .avatar {
    height: 42px;
    width: 42px;
    border-radius: 21px;
  }

  .navbar-collapse {
    padding: 0 16px;
  }

  #mobile_user_nav {
    border-top: 1px solid $gray_bg_color;
  }
}

.user_blog_header {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
}

.close_website_nav {
  top: -78px;
}

