@import "vars";

.markdown-article {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 40px;
    margin-bottom: 12px;
    font-weight: bolder;
    border-bottom: 1px solid $gray_bg_color;
    padding-bottom: 12px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3, h4, h5, h6 {
    font-size: 20px;
    font-weight: bold;
  }


  del {
    color: $gray_font_color;
  }

  hr {
    border: 1px solid $dim_theme_color;
  }

  blockquote {
    border-left: 4px solid $dim_theme_color;
    background-color: #f0f0f0;
    padding: 24px 12px;

    p {
      margin-bottom: 0;
    }
  }

  table {
    width: 100%;
    text-align: center;

    th, td {
      padding: 4px;
    }

    th {
      background-color: $theme_color;
      color: #fff;
      //border: 2px solid #fff;
    }

    tr {
      border: 2px solid $theme_color;
    }

    td {
      border: 2px solid $theme_color;
    }


  }

  img {
    width: 80%;
    margin: 0 10%;
  }

  a,
  .a:hover {
    text-decoration: none;
  }

  pre {
    background-color: #2d2d2d;
    padding: 12px;

    code {
      width: 100%;
      color: $gray_font_color;
    }
  }
}

