@import "vars";

nav.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .page.gap {
    background-color: unset;
    border: unset;
  }

  .page,
  .first,
  .last,
  .prev,
  .next {
    margin: 0 12px;
    border: 1px solid #0084ff;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 450ms;

    a {
      padding: 6px 12px;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .current {
    padding: 6px 12px;
  }

  .page:hover,
  .first:hover,
  .last:hover,
  .prev:hover,
  .next:hover,
  .current {
    background-color: $theme_color;
    border: 1px solid #fff;

    &, a {
      color: #fff;
    }
  }


  //  .next {
  //    order: -1;
  //    margin: 0;
  //  }

  //  .last {
  //    order: 1;
  //    margin-left: 12px;
  //  }
}