@import "vars";

svg {
  vertical-align: text-bottom;
  height: 18px;
  width: 18px;
  fill: $normal_font_color;
}

a,
.btn-link:hover {
  text-decoration: none !important;
  color: $normal_font_color;
}

[class*="col-"] {
  padding-left: 12px;
  padding-right: 12px;
}

ul {
  list-style: none;
  padding-left: unset;
}