@import "vars";
@import "mixins";

// * common user's info block styles
.user_info_block {
  @include flex-row;
  @include container;
  align-items: center;
  margin-bottom: 24px;
  background-color: #fff;
  padding: 24px;

  .avatar {
    @include flex-row;
    align-items: center;
    margin-right: 12px;

    img {
      height: 72px;
      width: 72px;
      border-radius: 36px;
    }
  }

  #sex {
    svg {
      vertical-align: text-bottom;
      height: 18px;
      width: 18px;
    }
  }

  .info {
    @include flex-col;
    justify-content: center;

    .count {
      margin-bottom: 0;
    }
  }

  .fork {
    height: 36px;
    width: 98px;
    background-color: #fff;
    border: 1px solid $theme_color;
    border-radius: 18px;
    font-size: 16px;
    transition: all 300ms;
    outline: none;
    margin-left: auto;

    &:hover {
      background-color: $theme_color;
      border: 1px solid #fff;
      color: #fff;

    }
  }
}

.tag {
  font-size: $tag_font_size;
  border-bottom: 2px solid $theme_color;
  padding-bottom: 4px;
}

#users__show {

  .blog-main {
    @include container;

    .list_container {
      margin-top: -12px;
      @include container;

      & .blog-post:first-child {
        margin-top: 0 !important;

        .card {
          border-top: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      #tab {
        background-color: #fff;
        margin-bottom: 0;
        //border: 1px solid rgba(0, 0, 0, 0.125);
        border-bottom: none;
        //box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .nav-item {
          .nav-link {
            color: $normal_font_color;

            svg > path {
              fill: $normal_font_color;
            }
          }

          .nav-link.active {
            border-bottom: 2px solid $theme_color;
            color: $theme_color;

            svg > path {
              fill: $theme_color !important;
            }
          }
        }
      }

    }

  }

  .user_other_info {
    position: sticky;
    top: 96px;
    background-color: #fff;
    width: 100%;
    @include container;

    #user_introduce, #blog_sets {
      margin-bottom: 32px;

      p {
        font-size: 14px;
        margin-top: 6px;
      }
    }
  }


}

.user_basic_info {
  @include flex-row;

  .left {
    width: 15%;
    height: 120px;
    position: relative;
    @include flex-col;
    justify-content: center;
    align-self: center;

    input[type=file] {
      height: 100%;
      width: 100%;
      opacity: 0;
      z-index: 100;
    }

    img {
      width: 100px;
      border-radius: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50px, -50px);
    }

  }

  .right {
    width: 85%;
    height: 120px;
    padding-left: 12px;
    @include flex-col;
    justify-content: space-evenly;
  }

}