<p>Hello <%= @resource.email %>!</p>

<p>您正在找回您的密码，请点击下方的链接完成重置。</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果该申请不是您的本意，您可以无视这封邮件。</p>
<p>再您完成修改之前您的密码将不会改变。</p>
